<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-template="vertical-menu-template"
>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <%- include('./partials/sidebar', {currentPath: currentPath})%>
        <div class="layout-page">
          <%- include('./partials/header', {user: user}) %>
          <div class="content-wrapper"><%- body %></div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
